.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: rgba(58, 84, 84, 0.09);
}
header {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  margin: 30px 30px;
}
a {
  text-decoration: none;
  color: #585e96;
}
