.Dictionary {
  max-width: 720px;
  text-align: left;
}

.Results {
  color: #303348;
}

.Dictionary section {
  box-shadow: 0 20px 20px rgb(20 50 40 / 3%);
  border-radius: 8px;
  background: #fff;
  margin-top: 10px;
  padding: 25px 20px 12px 20px;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
}

.Results section {
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 50 / 10%);
  padding: 30px;
}

.Dictionary .hint {
  font-size: 15px;
  margin: 10px 2px 2px 2px;
  color: rgba(51, 51, 51, 0.6);
}

.Dictionary h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(23, 26, 23, 0.9);
}

.App-footer {
  text-align: center;
  margin: 10px 0;
}
